.container{
    display: flex;
    background-color: gray;
}
.main{
    flex-wrap: wrap
}

.main > div{
    width: 100%;
}

.item{
    justify-content: space-around;
}

.fb, .twitter, .linkedin{
    flex: 1 1 auto;
}

.rights{
    flex: 20 1 auto;
}

.media{
    padding-left: 50px;
    padding-right: 50px;
    background-color:black;
    color: white;
}